<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="col-sm-8">Posts</h1>
  <div class="col-sm-4" style="text-align: right;">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-danger', style: 'margin-bottom: 20px;' %>
  </div>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-4">
      <div class="card">
<!--          <img class="card-img-top" src="" alt="Card image cap">-->
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to post.title, post_path(post), class: 'link' %>
          </h5>
          <p class="card-text"><%= post.body %></p>
          <div class="row">
            <div class="col-sm-8">
              <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-light', style: 'width: 100%' %>
            </div>
            <div class="col-sm-4">
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark', style: 'width: 100%' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
