<p id="notice"><%= notice %></p>

<%= link_to 'Back', posts_path, class: 'btn btn-light' %>

<div class="card mb-3">
  <% if @post.image %>
    <%= image_tag @post.image_url, class: 'card-img-top', alt: 'Post image' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.body %></p>
  </div>
</div>
